body {
  padding: 2%;
}
h1 {
  text-align: center;
}

.podium {
  text-align: center;
}

.podium ul {
    padding: 0px;
}

.podium li {
  list-style-type: none;
}

.first {
  background-color: rgb(235, 200, 84);
  font-size: 20px;
  height: 50px;
  text-align: center;
  width: 200px;
  display: block;
  margin: auto;
}

.second {
  background-color: rgb(219, 219, 219);
  font-size: 20px;
  height: 50px;
  text-align: center;
  width: 300px;
  display: inline-block;
}

.third {
  background-color: rgb(170, 142, 106);
  font-size: 20px;
  height: 50px;
  text-align: center;
  width: 300px;
  display: inline-block;
}

.prizes {
  text-align: center;
}

.prizes ul {
    padding: 0px;
}

.prizes li {
  list-style-type: none;
  display: inline-block;
}
